@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    background-color: rgba(241, 242, 244, 0.46);
}
/* shared styles */
.merri-font{
    font-family: "Merriweather", serif;
    font-style: normal;
}
.inter-font{
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.title{
    font-weight: 900;
    font-size: 80px;
    line-height: 90px;
}
.subtitle{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
}
.categories{
    font-size: 24px;
    font-weight: 700;
    line-height: 25px;
}
.description{
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}




/* banner styles */
.banner{
    background: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%) , url(images/Banner\ Image.png);
    color: rgb(255, 255, 255);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px auto 0 auto;
    border-radius: 10px;
}
.banner-title{
    font-size: 18px;
    font-weight: 400;
}
.banner .title{
    margin-top: 10px;
}
.banner span{
    display: block;
    text-align: center;
}


/* deal styles */
.deal{
    margin-top: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    margin-left: 400px;
}
.deal .title{
    font-weight: 700;
    color: rgb(255, 0, 0);
    margin-bottom: 15px;
}
.deal-image img{
    width: 400px;
    height: 300px;
    border: 1px dashed rgb(160, 158, 158);
    border-bottom: none;
}

/* second banner */
.second-banner{
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%) , url("images/Vectorrr.png");
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 1100px;
}
.second-banner .title{
    color: white;
}
.second-banner button{
    display: block;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    text-transform: uppercase;
    border: none;
    background-color: black;
    padding: 20px;
}
.second-banner button:hover{
    background-color: rgb(235, 110, 120);
    border-radius: 5px;
    transition: background-color 2s;
    cursor: pointer;
}
.second-banner .second-banner-content{
    padding-left: 30px;
    padding-right: 30px;
}
.second-banner .second-banner-image img{
    width: 300px;
    height: 400px;
    border: 1px dashed rgb(244, 240, 240);
}
.second-banner .second-banner-image{
    padding-right: 30px;
}

/* place styles */
.place{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    padding: 40px;
    height: 300px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
    margin-bottom: 150px;
}
.place h2{
    font-weight: 700;
}
.place span{
    color: rgb(255,0, 0);
}
.place button{
    margin-top: 20px;
    color: white;
    font-weight: 700;
    font-size: 20px;
    border: none;
    background-color: rgb(248, 11, 11);
    border-radius: 8px;
    padding: 15px 25px;
}

.place button:hover{
    cursor: pointer;
}

/* offer styles */
.offer{
    background-color: rgba(255, 0, 0, 0);
    height: 300px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
    margin-bottom: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}
.new-offer-title{
    margin-bottom: 50px;
}
.offer .categories{
    font-size: 40px;
    margin-top: 5px;
}
.new-offer-image h2{
    font-size: 40px;
    font-weight: 700;
    color: red;
    margin-bottom: 5px;
}
.offer .offer-image img{
    height: 200px;
    width: 200px;
}
.new-offer-title , .new-offer-image{
    width: 40%;
}
.new-image img{
    width: 80px;
    height: 80px;
    margin-top: 50px;
    border: 1px dashed rgb(156, 153, 153);
}
.offer .offer-image{
    border: 10px solid red;
    padding: 15px;
    border-radius: 50%;
}

/* function styles */
.function{
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
    padding: 20px;
    border: 1px dashed rgb(255, 0, 0);
    margin-bottom: 100px;
}
.function .title{
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.function span{
    color: rgb(255, 0, 0);
}


/* function-images styles */

